.color-box
{
  display: block;
  height: 160px;
  padding: 20px 0;
  transition: all .3s;
  text-align: center;
  opacity: .9;
  &:hover
  {
    transform: scale(1.08);
    text-decoration: none;
    opacity: 1;
    color: #555;
  }
  &:focus
  {
    text-decoration: none;
  }
  .count
  {
    font-size: 50px;
    line-height: 80px;
    height: 80px;
  }
  .desc
  {
    font-size: 18px;
    .fa
    {
      margin-right: 5px;
    }
  }
}
